* {
  font-family: 'Museo Sans Cyrl';
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 20px;
}

@import './base/variables';
@import './base/mixins';
@import './blocks/promo';
@import './blocks/header';
@import './blocks/buttons';
@import './blocks/section-header';
@import './blocks/advantages';
@import './blocks/consultation';
@import './blocks/forms';
@import './blocks/slider';
@import './blocks/catalog';
@import './blocks/reviews';
@import './blocks/footer';
@import './blocks/modal';
@import './media';
